<div id="projects" class="container__projects-main-content">
    <div class="projects__title">
        <h2>CONHEÇA ALGUNS DOS MEUS <span>PROJETOS</span></h2>
    </div>
    <div class="projetcs__content-container">
        <div class="row1">
            <a href="https://www.behance.net/gallery/176149755/M-E-R-C-E-D-E-S" target="_blank" class="project-link">
                <div class="project-card">
                    <img src="../../../assets/images/mercedes-container.png" alt="">
                    <h3>New F1 Season Mercedes Team</h3>
                    <p>Prototipação no Figma com um design soft e esportivo da 2ª temporada da Fórmula 1 de 2022.</p>
                </div>
            </a>
            <a href="https://github.com/JefersonLRS/PokeDev" target="_blank" class="project-link">
                <div class="project-card">
                    <img src="../../../assets/images/pokedev-container.png" alt="">
                    <h3>PokeDev</h3>
                    <p>Projeto em JavaScript puro, através da PokeAPI para consultar dados de todos os pokemóns da 1ª geração.</p>
                </div>
            </a>
            <a href="https://github.com/JefersonLRS/Formatador-de-texto" target="_blank" class="project-link">
                <div class="project-card">
                    <img src="../../../assets/images/formatador-container.png" alt="">
                    <h3>Formatador de Textos</h3>
                    <p>Projeto em JavaScript puro, fornecendo serviços de formatações de texto para o usuário.</p>
                </div>
            </a>
        </div>
        <div class="row2">
            <a href="https://github.com/JefersonLRS/buscador-cep" target="_blank" class="project-link">
                <div class="project-card">
                    <img src="../../../assets/images/cep-container.png" alt="">
                    <h3>Quer localizar? Busque CEP</h3>
                    <p>Projeto em ReactJS e NextJS, consumindo API com axios e fornecendo dados precisos ao usuário.</p>
                </div>
            </a>
            <a href="https://www.behance.net/gallery/178560721/DevTech" target="_blank" class="project-link">
                <div class="project-card">
                    <img src="../../../assets/images/devtech-container.png" alt="">
                    <h3>Técnologia é aqui: DevTech</h3>
                    <p>Prototipação no Figma de um futuro projeto Angular de uma loja de computadores através de um CRUD e filtragens do usuário.</p>
                </div>
            </a>
            <a href="https://www.behance.net/gallery/176148897/N-U-B-A-N-K" target="_blank" class="project-link">
                <div class="project-card">
                    <img src="../../../assets/images/nubank-container.png" alt="">
                    <h3>Nova campanha: Nubank</h3>
                    <p>Prototipação no Figma de uma campanha fictícia da Nubank, com a inalguração de novos modelos de cartões.</p>
                </div>
            </a>
        </div>
        <div class="project__contact-button">
            <a href="mailto:contato.jefersonlrs@gmail.com" target="_blank">
                <button class="container__contact-button-title"><img src="../../../assets/images/email.svg" alt="">Entrar em contato</button>
            </a>
        </div>
    </div>
</div>
