<div class="container__certificates-content">
    <div class="certificates-content-title">
        <hr>
            <h2>MINHAS CERTIFICAÇÕES</h2>
        <hr>
    </div>
    <div class="certificate__post">
        <div class="certificate__post-image">
            <img src="../../../assets/images/javascript.jpg" alt="">
        </div>
        <div class="certificate__post-text">
            <div class="post-text__title">
                <h3>JavaScript - B7Web</h3>
            </div>
            <div class="post-text__description">
                <p>Carga Horária: 77 Horas</p>
                <span>
                    O curso de JavaScript da B7Web oferece uma abordagem abrangente para aprender JavaScript. Os tópicos incluem: introdução à linguagem e sintaxe, variáveis e tipos de dados, estruturas de controle, funções, manipulação do DOM, eventos, Ajax e solicitações HTTP, manipulação de formulários e tratamento de exceções. Os alunos também exploram programação orientada a objetos, recursos avançados do ECMAScript e muito mais. Este curso é projetado para fornecer uma base sólida em JavaScript, abrangendo desde conceitos básicos até recursos avançados, permitindo que os alunos desenvolvam habilidades sólidas de programação web.
                </span>
            </div>
        </div>
    </div>
    <div class="certificate__post">
        <div class="certificate__post-image">
            <img src="../../../assets/images/typescript.jpg" alt="">
        </div>
        <div class="certificate__post-text">
            <div class="post-text__title">
                <h3>TypeScript - B7Web</h3>
            </div>
            <div class="post-text__description">
                <p>Carga Horária: 20 Horas</p>
                <span>
                    O curso de TypeScript da B7Web é uma excelente opção para aprender essa linguagem de programação fortemente tipada. Os tópicos incluem: introdução ao TypeScript e sua relação com JavaScript, declaração de tipos de dados, interfaces, classes e herança, uso de módulos, configuração de ambiente de desenvolvimento, manipulação do DOM, integração com bibliotecas JavaScript e muito mais. Com foco na criação de aplicativos web modernos, este curso oferece uma base sólida para desenvolvedores que desejam utilizar TypeScript para criar aplicativos mais robustos e escaláveis.
                </span>
            </div>
        </div>
    </div>
    <div class="certificate__post">
        <div class="certificate__post-image">
            <img src="../../../assets/images/javapoo.png" alt="">
        </div>
        <div class="certificate__post-text">
            <div class="post-text__title">
                <h3>Java POO - Alura</h3>
            </div>
            <div class="post-text__description">
                <p>Carga Horária: 8 Horas</p>
                <span>
                    O curso de Programação Orientada a Objetos (POO) da Alura em Java abrange uma ampla variedade de tópicos essenciais, incluindo: conceitos fundamentais de Java e POO, coleções, tratamento de exceções, programação funcional, persistência de dados com JDBC, frameworks como Spring e Hibernate, testes unitários, padrões de projeto, desenvolvimento web com Servlets e JSP, criação de APIs REST, e culmina em um projeto prático abrangente. Este curso fornece uma base sólida para desenvolvedores que desejam dominar Java e suas aplicações em desenvolvimento de software e web.
                </span>
            </div>
        </div>
    </div>
    <div class="certificate__post">
        <div class="certificate__post-image">
            <img src="../../../assets/images/javapoli.png" alt="">
        </div>
        <div class="certificate__post-text">
            <div class="post-text__title">
                <h3>Java polimorfismo: Herança & Interfaces - Alura</h3>
            </div>
            <div class="post-text__description">
                <p>Carga Horária: 16 Horas</p>
                <span>
                    O curso de Java Polimorfismo, Herança e Interfaces da Alura abrange os princípios essenciais de orientação a objetos em Java. Os tópicos incluem: polimorfismo, herança, interfaces, métodos abstratos, classes abstratas, sobrescrita e sobrecarga, uso de referências polimórficas, casting e aplicação prática por meio de exercícios. Este curso oferece aos desenvolvedores uma base sólida para aproveitar ao máximo a flexibilidade e a reutilização de código proporcionadas pelo Java, com foco em polimorfismo, herança e interfaces.
                </span>
            </div>
        </div>
    </div>
    <div class="certificate__post">
        <div class="certificate__post-image">
            <img src="../../../assets/images/javatdd.png" alt="">
        </div>
        <div class="certificate__post-text">
            <div class="post-text__title">
                <h3>Java: TDD & Testes Unitários - Alura</h3>
            </div>
            <div class="post-text__description">
                <p>Carga Horária: 8 Horas</p>
                <span>  
                    O curso de Java: TDD & Testes Unitários da Alura abrange tópicos essenciais relacionados ao desenvolvimento orientado por testes (TDD) e testes unitários em Java. Os principais temas incluem: conceitos de TDD, criação de testes unitários com JUnit, estratégias de escrita de testes, refatoração, testes de integração, testes parametrizados, e aplicação prática por meio de projetos. Este curso capacita desenvolvedores a adotar práticas de TDD para garantir a qualidade do código Java e criar testes unitários eficazes para seus projetos.
                </span>
            </div>
        </div>
    </div>
    <div class="certificate__post">
        <div class="certificate__post-image">
            <img src="../../../assets/images/angular-web-components.png" alt="">
        </div>
        <div class="certificate__post-text">
            <div class="post-text__title">
                <h3>Angular: Web Components - DIO</h3>
            </div>
            <div class="post-text__description">
                <p>Carga Horária: 3 Horas</p>
                <span>
                    O curso "Angular: Web Components" da DIO aborda uma ampla gama de tópicos essenciais, incluindo: introdução ao Angular, criação de componentes e templates, uso de diretivas, organização em módulos, roteamento, injeção de dependência, manipulação de formulários, integração com serviços web, teste unitário e desenvolvimento de componentes web reutilizáveis com Web Components. Este curso é projetado para fornecer aos alunos habilidades abrangentes em Angular, permitindo-lhes criar aplicativos web robustos e componentes web personalizados para uma experiência de desenvolvimento web completa.
                </span>
            </div>
        </div>
    </div>
    <div class="certificate__post">
        <div class="certificate__post-image">
            <img src="../../../assets/images/angular-modulos.png" alt="">
        </div>
        <div class="certificate__post-text">
            <div class="post-text__title">
                <h3>Angular: Módulos - DIO</h3>
            </div>
            <div class="post-text__description">
                <p>Carga Horária: 1 Horas</p>
                <span>
                    O curso "Angular: Módulos" abrange tópicos essenciais relacionados ao uso de módulos em Angular. Os tópicos incluem: introdução ao Angular e sua arquitetura de módulos, criação e organização de módulos, compartilhamento de funcionalidades, módulos de funcionalidade, carregamento preguiçoso, escopo de módulo, integração de módulos externos e melhores práticas de uso de módulos. Este curso capacita desenvolvedores a estruturar e organizar seus aplicativos Angular de maneira eficaz, melhorando a manutenção e escalabilidade dos projetos.
                </span>
            </div>
        </div>
    </div>
</div>
