<div id="home" class="container__menu-title">
    <hr>
        <div class="container__menu-title-content">
            <h1>So much more than just a "Hello World"</h1>
            <h2>OLÁ, EU ME CHAMO <span class="container__menu-title-jef">JEF</span></h2>
            <a href="https://www.linkedin.com/in/contato-jeferson-luis/" target="_blank"><button class="container__menu-title-button"><img src="../../../assets/images/linkedin.svg" alt="">Conecte-se comigo</button></a>
        </div>
    <hr>
</div>