<div class="container__profile-content">
    <div class="container__profile-content-img">
        <img src="../../../assets/images/profilepic2.png" alt="">
    </div>
    <div class="container__profile-content-text">
        <h2>QUEM SOU EU</h2>
        <p>Olá, sou o Jeferson, um entusiasta da tecnologia! Desde criança, sempre soube que este seria o meu lugar. Acho fascinante como a lógica funciona e, principalmente, como ela é constantemente aprimorada. Sou estudante de Análise e Desenvolvimento de Sistemas, aprofundando-me cada vez mais no Front-end e no Back-end. Quando não estou estudando, durante meu tempo livre, gosto de assistir vídeos no YouTube sobre desenvolvimento com React, TypeScript, Node, Java, entre outros. Como mencionei, sou um apaixonado por tecnologia!</p>
    </div>
</div>
<div class="container__profile-social-media">
    <a href="https://www.linkedin.com/in/contato-jeferson-luis/" target="_blank"><img src="../../../assets/images/linkedin-circle.png" alt=""></a>
    <a href="https://github.com/JefersonLRS" target="_blank"><img src="../../../assets/images/github-circle.png" alt=""></a>
    <a href="mailto:contato.jefersonlrs@gmail.com" target="_blank"><img src="../../../assets/images/email-circle.png" alt=""></a>
</div>