.container__profile-content {
    margin-top:6rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    margin-bottom: 6rem;
}
.container__profile-content > .container__profile-content-img > img {
    width: 300px;
}
.container__profile-content > .container__profile-content-text {
    width: 350px;
}
.container__profile-content-text > p {
    text-align: left;
    margin-top: 1rem;
    opacity: 50%;
    font-weight: 500;
}
.container__profile-content-text > h2 {
    font-size: 3rem;
    margin-left: -3.3rem;
    transform: matrix(.7, 0, 0, .9, 0, 0);
}
.container__profile-social-media {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.container__profile-social-media > a > img {
    width: 80px;
    z-index: 10;
    background-color: transparent;
    opacity: 80%;
    margin-bottom: -2rem;
    transition: opacity 0.5s, transform 0.5s;
}

.container__profile-social-media > a > img:hover {
    opacity: 100%;
    transform: scale(1.09);
}